* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes .nav-title to the left and .nav-links to the right */
  /*position: relative; !* Relative positioning for the nav to act as a reference for .nav-links *!*/
  /*background-color: #e5fffd;*/
  padding: 5px 20px 0 20px;
  color: #000000;
  box-shadow: #000 0 0 5px;
  height: 40px;
  /*transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;*/
  transition: all 0.3s ease;
}

nav ul {
  list-style-type: none;
}

.nav-links {
  position: absolute; /* Takes it out of the normal flow */
  left: 50%; /* Moves it to the center */
  transform: translateX(-50%); /* Corrects the position to the exact center */
  display: flex;
  justify-content: center;
}

.nav-links > li {
  margin: 0 20px; /* Add some horizontal margin between list items */
}